@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-gb-bg: #282828;
  --color-gb-bg-soft: #3c3836;
  --color-gb-fg: #ebdbb2;
  --color-gb-gray: #a89984;
  --color-gb-yellow: #fabd2f;
  --color-gb-green: #b8bb26;
  --color-gb-orange: #fe8019;
  --color-gb-red: #fb4934;

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

* {
  transition: none !important;
  animation: none !important;
}

body {
  background-color: var(--color-gb-bg);
  color: var(--color-gb-fg);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
